@font-face {
	font-family: "Computer Modern";
    src: url('./fonts/cmunrm.ttf');
}

/*
@font-face {
font-family: "Computer Modern";
src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
font-weight: bold;
font-style: italic, oblique;
}

@font-face {
font-family: "Computer Modern";
src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
font-weight: bold;
}

@font-face {
font-family: "Computer Modern";
src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
font-style: italic, oblique;
}
*/


body {
    margin: 30px auto;
    width: 70%;
    font-family: "Computer Modern";
    font-style: normal;  
}
nav ul, footer ul {
    font-family: "Computer Modern";
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: "Computer Modern";
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: black;
}

footer {
    /*footer text*/
    border-top: 1px solid #d5d5d5;
    font-size: 0.8em;
    color:mediumblue;
}
ul.posts {
    margin: 20px auto 40px;
    font-size: 2.5em;
}
ul.posts li {
    list-style: none;
}
img[src$="centerme"] {
  display:block;
  margin: 0 auto;
}